div#map_canvas {
    border: 1px solid #000;
    width: 800px;
    height: 450px;
}

div.thumbnail {
    float: left;
    width: 130px;
    height: 130px;
    margin: 10px 10px 10px 0;
    text-align: center;
}

div.thumbnail img {
    border: 1px solid #ccc;
}

div.photo img {
    border: 1px solid #ccc;
}
