<script type="text/javascript">
function initialize() {
	var latlng = new google.maps.LatLng(<%=h @building.latitude %>, <%=h @building.longitude %>);

	var myOptions = {
		zoom: 8,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	var marker = new google.maps.Marker({
		position: latlng,
		map: map,
		draggable: true,
		title: "<%=h @building.name %>"
	});

	google.maps.event.addListener(marker, 'position_changed', function() {
		$('building_latitude').value = marker.getPosition().lat();
		$('building_longitude').value = marker.getPosition().lng();
	});
};

document.observe("dom:loaded", function() {
	initialize();
});
</script>

<h2>Eser düzenle</h2>

<%= render :partial => 'form', :locals => { :building => @building } %>
