<script type="text/javascript">
function initialize() {
	var latlng = new google.maps.LatLng(39.0, 34.5);

	var myOptions = {
		zoom: 6,
		center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

	var marker;

	google.maps.event.addListener(map, 'click', function(e) {
		if(marker) {
			marker.setPosition(e.latLng);
		} else {
			marker = new google.maps.Marker({
				position: e.latLng,
				map: map,
				draggable: true,
			});

			$('building_latitude').value = e.latLng.lat();
			$('building_longitude').value = e.latLng.lng();

			google.maps.event.addListener(marker, 'position_changed', function() {
				$('building_latitude').value = marker.getPosition().lat();
				$('building_longitude').value = marker.getPosition().lng();
			});
		}
	});
};

document.observe("dom:loaded", function() {
	initialize();
});
</script>

<h2>Yeni eser</h2>

<%= render :partial => 'form', :locals => { :building => @building } %>
